/*colors*/
$color-white: #ffffff;
$color-header-bg-top: #110817;
$color-header-button: #fcc472;
$color-header-button-right: #66669d;
$color-nav-bg: #fbc371;
$color-grey: grey;
$color-text-search: #999999;
$color-title-section: #333333;
$color-description-section: #666666;
$color-psychics-bg: #f2f2f5;
$color-psychics-cell:#9090b7;
$color-text-communicate: #9b9b9b;
$color-call-chat-hover: #35d585;
$color-communicate-icons: #555674;
$color-history-title: #333333;
$color-footer-menu: #cccccc;
$color-footer-bg: #0b0310;
$color-icons-footer: #f9c169;
$color-footer-top-border: #292c3c;

 
/*fonts*/
$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Halant: 'Halant', serif;


/*font-size*/
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-30: 4rem;
$font-size-48: 4.8rem;


/*font-weight*/
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;


/*line-height*/
$line-height-18: 1.8rem;
$line-height-22: 2.2rem;
$line-height-24: 2.4rem;
$line-height-60: 6rem;
